
@import 'helpers';

.menu-btn{
    
    position: fixed;
    z-index: 1;
    right: 3rem;
    top: 2rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    //transform: translate(5px);
    @include transition-ease;

    .burger{
        z-index:3;
        position: absolute;
        left: 0px;
        top: 0.5rem;
        width: 18px;
        height: 3px;
        background-color: $landing-textcolor;
        @include transition-ease;

        &::before{
            content:'';
            position: absolute;
            top: -8px;
            left: 0px;
            width: 28px;
            height: 3px;
            background-color: $landing-textcolor;
            @include transition-ease
        }
        &::after{
            content:'';
            position: absolute;
            top: 8px;
            width: 28px;
            height: 3px;
            left: 0px;
            background-color: $landing-textcolor;
            @include transition-ease
        }

        &.open{
            
            background: transparent;
            @include transition-ease;
        }
        &.open::before{
            transform: rotate(45deg) translate(5px,8px);

        }
        &.open::after{
            //width: 28px;
            transform: rotate(-45deg) translate(3px, -7px);
        }
    }
}


.nav{
    
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 20vw;
    opacity: 0.98;
    visibility: hidden;

    &.open{
        visibility: visible;
    }
    .nav-bar{
        background-color: $primary-color;
        z-index: 1;
        display: flex;
        right: 3rem;
        flex-flow: column wrap;
        align-items:center;
        justify-content: center;
        height: 30vh;
        overflow: hidden;
        //background: white;
        list-style-type: none;
        padding-right: 1rem;
        transform: translateX(100%);
        border: 1px;
        border-bottom-left-radius: 600px 100px;
        @include transition-ease;

        &.open{
            transform: translateX(0);
        }
        .nav-item{
            
            transform: translateX(50vw);
            @include transition-ease;

            &.open{
                transform:translateX(0);
            }
            &:active > a{
                color: $landing-textcolor;
            }
            a{
                display: inline-block;
                @include transition-ease;
                &:hover{
                    color: $landing-textcolor;
                }
            }
        }   
    }
    @for $i from 1 through 5{
        .nav-item:nth-child(#{$i}){
            transition-delay: ($i * 0.1s) + 0.15s;
        }
    }
}
