@import 'helpers';

.recent-projects{
    
    margin-top: 3rem;
    height:100vh;
    align-items: center;
    text-align: center;
    //width:500px;
    h1{
        
            color:$landing-textcolor;
            font-weight: 800;
        
        padding: 2rem;
    }
    
}
.project-grid{
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    justify-items: center;
    position: relative;
    width: 81vw;
    margin: 0 auto 0 auto;
    //padding: 2rem 0 2rem 0;
 
}
.project-card{
    display: flex;
    position: relative;
    justify-content: center;
    //align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    border-radius: 15px;
    height: 240px;
    width: 360px;
    background:$primary-color;
    //@include transition-ease;
    #anical-bgimg{
        background:url("../img/AniCal-Backdrop.jpg") no-repeat;
    }
    #casa-bgimg{
        
        background:url("../img/casanova-Backdrop.jpg") no-repeat;
    }
    #pwu-bgimg{
        background-color: rgb(15, 15, 15);
    }
    .img-background{
        background-position: center;
        background-size: auto;
        position: absolute;
        border-radius: 13px;
        z-index: 2;
        height: 100%;
        width: 100%;
        @include transition-ease;
    }
    &:hover{
        box-shadow: 0 5px 9px 0 rgba(0,0,0,0.3);
        .logo-container{
            opacity:0;
            //display: none;
           z-index: -1;
        }
        .img-background{
            opacity: 0;
            z-index:-1;
        }
        figcaption{
            
            //@include transition-ease;
            opacity: 1;
        }
    }
    .logo-container{
        position: absolute;
        //top:50%;
        //align-items: center;
        z-index:3;
        @include transition-ease;
        img{ 
           // z-index: 2;
            height: 40%;
            width: 70%;
             
        }
        
    }
    figcaption{
        @include transition-ease;
        color: $secondary-textcolor;
        margin: 5px;
        //position: absolute;
        //margin: auto;
        //visibility: hidden;
        opacity:0;
        z-index:1;
        //text-align: center;
        p{
            margin-bottom: 1.5rem;
        }
        a:link, a:visited{
            border: 2px solid $landing-textcolor;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            @include transition-ease;
            &:hover{
                background-color: $landing-textcolor;
            }
        }
    }
    
}