@import 'helpers';

.recent-projects{
    margin-top: 3rem;
    height:100vh;
    align-items: center;
    text-align: center;
    //width:500px;
    h1{
        padding: 2rem;
    }
    
}
.project-grid{
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    position: relative;
    //column-gap: 0.5rem;
    //left: 15vh;
    //right: 15vh;
    width: 80vw;
    margin: 0 auto 0 auto;
    padding: 2rem 0 2rem 0;
     //align-items: center;
    //text-align: center;
}
.project-card{
    position: relative;
    justify-self: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    border-radius: 10px;
    height: 240px;
    width: 360px;
    
    &:hover{
        box-shadow: 0 5px 9px 0 rgba(0,0,0,0.3);
        @include transition-ease;
        #proj1-container{
            opacity:0;
            
        }
       
    }
    #proj1-container{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        position: absolute;
        border-radius: 10px;
        background-color: rgb(74, 135, 228);
        height: 100%;
        width: 100%;
        overflow: hidden;
        @include transition-ease;
        img{ 
            z-index: 3;
            height: 40%;
            width: 70%;
             
        }
        
    }
    figcaption{
        position: absolute;
        text-align: center;
    }
}