
@include media-sm-h{
    .landing-page-wrapper{
        height: 1000px;
    }
}
@include media-sm{
    .landing-page-wrapper{
        height:75vh;
        .landing-page{
            .title{
                padding-top: 8vh;
                h2{
                    font-size: 1.1rem;
                }
                .name{
                    font-size: 4.5rem;
                }
            }
            .anchors{
                .nav-item{

                    visibility: hidden;
                }
            }
        }
    }   
    .nav{
        visibility: visible;
        width: 100vw;
        top:0;
        height: 10vh;
        .menu-btn{
            visibility: hidden;
            opacity: 0;
            @include fast-transition;           
        }
        .nav-bar{
            padding-right:0;
            border-bottom-right-radius: 0px 0px;
            height: 10vh;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            justify-items: center;
            transform: translateX(0);
            .nav-item{
                transform:translateX(0);
            }
        }
    }
    main{
        padding: 1.2rem 3rem;
        
        }
}
@include media-xs{
    main{
        padding: 1.2rem 0.5rem;
    }
    .landing-page-wrapper{
        width: 150vw;
        height: 65vh;
        .landing-page{
            .title{
                
                h2{
                    font-size: 1rem;
                }
                .name{
                    font-size: 3.5rem;
                }
            }
        }
    }
}
@include media-md{
    
    .future-projects{
        height:auto;
    }
    .project-grid-future{
        grid-template-columns: repeat(auto-fill, minmax(360px,1fr));
    }
}
@include media-lg{
    
    .recent-projects{
        height: auto;
    }
     .project-grid-recent{
         grid-template-columns:repeat(auto-fill, minmax(360px,1fr)) ;
     }
     .about{
         height: auto;
         .interests{
             
            grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
         }
     }
}
