$primary-color:#272727;
$header-textcolor: rgb(6, 4, 34);
$secondary-textcolor:white;
$landing-textcolor:rgb(19, 177, 216);
$tertiary-textcolor:rgb(255, 204, 153);
$quanary-textcolor:rgb(44, 0, 125);
$about-textcolor: rgb(136, 136, 136);

@font-face{
    font-family: QuickSand;
    src:url('Quicksand-VariableFont_wght.ttf');
}
*{
    a{
        color: $secondary-textcolor;
        text-decoration: none;
     }
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
