$primary-color:#272727;
$header-textcolor: rgb(6, 4, 34);
$secondary-textcolor:white;
$landing-textcolor:rgb(4, 150, 187);
$main-text: black;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
