@import 'variables';
@import 'projects';
@import 'menu';
@import 'helpers';

body{
   //height: 100%; 
   background: url("../img/gplaypattern_@2X.png");
   //background-size: cover;
   //resize:both;
   font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   //line-height: 1;

}

.title{
   padding-top: 40vh;
}
.landing-page{
   //position: fixed;
   background: $primary-color;
   line-height: 1;
   color: $secondary-textcolor;
   height: 100vh;
   overflow: hidden;
   align-items: center;
   text-align: center;
   .name{
      font-size: 5rem;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 2px solid #fff;
      color: $landing-textcolor;
      .last{
         
         font-weight: 700;
      }
   }
   
}

.nav-bar{

      list-style-type: none;
      margin:0;
   
   
}
h1, h2, h3{
   font-weight: 400;
}
a{
   color: $secondary-textcolor;
   text-decoration: none;
}
header{
   
   // position: fixed;
   // z-index: 2;
   // width: 100%;
   // padding: 1rem;
}
